<footer class="page__footer">

  <!-- Only GitHub, LinkedIn, Google Scholar + Copyright -->
  <div class="page__footer-follow" style="text-align:center; margin-bottom:15px;">
    <a href="https://github.com/digontobiswas" target="_blank">GitHub</a> • 
    <a href="https://www.linkedin.com/in/digonto-biswas/" target="_blank">LinkedIn</a> • 
    <a href="https://scholar.google.com/citations?user=cdnKCqMAAAAJ&hl=en" target="_blank">Google Scholar</a>
  </div>

  <div class="page__footer-copyright">
    &copy; {{ 'now' | date: '%Y' }} Digonto Biswas
  </div>

</footer>
